
#####################################################################
# Custom scenario created using the original deathmatch.cfg file.
# Removed certain action buttons and setting the skill level of the 
# mobs. Included a 5 minute hyperparameter for all episodes to force-
# fully stop each episode.
#####################################################################

doom_skill = 2

screen_resolution = RES_320X240
render_hud = false

episode_start_time = 1

# 5 minute time out
episode_timeout = 10500

# 7 Action Buttons
available_buttons =
    {
        ATTACK

        MOVE_RIGHT
        MOVE_LEFT
        MOVE_BACKWARD
        MOVE_FORWARD
        
        TURN_LEFT_RIGHT_DELTA
        LOOK_UP_DOWN_DELTA
        

    }

# Game States
available_game_variables =
    {
        KILLCOUNT
        HEALTH
        ARMOR
        SELECTED_WEAPON
        SELECTED_WEAPON_AMMO
    }

mode = PLAYER
