# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_skill = 2

# Rendering options
screen_resolution = RES_320X240
render_hud = false

# Make episodes start in the first tic
episode_start_time = 1

# Make episodes finish after 4200 actions (tics)
episode_timeout = 10500

# Available buttons
available_buttons =
    {
        ATTACK

        MOVE_RIGHT
        MOVE_LEFT
        MOVE_BACKWARD
        MOVE_FORWARD

        LOOK_UP_DOWN_DELTA
        TURN_LEFT_RIGHT_DELTA

    }

# Game variables that will be in the state
available_game_variables =
    {
        KILLCOUNT
        HEALTH
        ARMOR
        SELECTED_WEAPON
        SELECTED_WEAPON_AMMO
    }

mode = PLAYER
